.dnnForm.NarrowFeedbackForm 
{
    min-width:10px;
}

/* For DNN 6 */
.dnnForm.FeedbackForm .dnnFormItem .dnnTooltip, .dnnForm.FeedbackForm .dnnFormItem.Feedback_CharCount LABEL  
{
    width:15%;
    margin-right: 2px;
}
/* For DNN 7 */
.dnnForm.FeedbackForm .dnnFormItem .dnnLabel  
{
    width:15%;
    padding:0;
    margin-right: 2px;
}
/* For DNN 6  & 7*/
.dnnForm.NarrowFeedbackForm .dnnFormItem LABEL,.dnnForm.NarrowFeedbackForm .dnnFormItem .dnnLabel  
{
    Float:none;
    Text-Align:left;
    Width:Auto;
    display: block;
}
.dnnForm.FeedbackForm .CaptchaTextBox, .dnnForm.NarrowFeedbackForm .CaptchaTextBox {
    margin-bottom: 3px;
}
.dnnForm.NarrowFeedbackForm .CaptchaTextBox {
    display: block;
}
.dnnForm.FeedbackForm .dnnFormItem INPUT, 
.dnnForm.FeedbackForm .dnnFormItem TEXTAREA, 
.dnnForm.FeedbackForm .dnnFormItem SELECT 
{
    width:60%;
}

.dnnForm.NarrowFeedbackForm .dnnFormItem INPUT, 
.dnnForm.NarrowFeedbackForm .dnnFormItem TEXTAREA, 
.dnnForm.NarrowFeedbackForm .dnnFormItem SELECT 
{
    width:80%;
}

.dnnForm.FeedbackForm .dnnFormItem INPUT[type=checkbox], 
.dnnForm.NarrowFeedbackForm .dnnFormItem INPUT[type=checkbox]
{
    width:auto;
}
.dnnForm.FeedbackForm .dnnFormItem SPAN.dnnFormError.dnnFormMessage 
{
    left:auto
}

.FeedbackLists.dnnForm .fbListType .dnnTooltip 
{
    width:auto;
    }

table.Feedback_Moderation
{
    width: 100%;
    border: none 0 black;
}

td.Feedback_Moderation_Grid
{
    vertical-align:top;
    width:100%
}

table.Feedback_Comments
{
    width: 100%;
    border: none 0 black;
}

.Feedback_Lists img {
     border-width:0;
}

div.FeedbackForm a>img {display:none}

.dnnForm.FeedbackForm .dnnFormItem .RadCaptcha LABEL,
.dnnForm.NarrowFeedbackForm .dnnFormItem .RadCaptcha LABEL
{
    width: inherit;
    float: left;
}

.dnnForm.FeedbackForm .dnnFormItem .divCaptcha,
.dnnForm.FeedbackForm .dnnFormItem .divCaptcha
{
    float:left;
}

.dnnForm.FeedbackForm .dnnFormItem .RadCaptcha.RadCaptcha_Default
{
    width: 80%;
}
.dnnForm.FeedbackSettings .NumberBox {
    min-width:1px;
}

.dnnForm.FeedbackLists .Listcolumn {
    min-width:30px;
}

.dnnForm .dnnFormItem.Feedback_CharCount {
    padding-top:0;
    line-height:1;
}
.dnnForm .dnnFormItem.Feedback_CharCount label {
    margin-top: 0;
}
